*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: grid;
    place-items: center;
}

td, th{
    padding: 20px;
    border: solid 1px;
}

.name{
    width: 200px;
}

button{
    cursor: pointer;
    padding: 5px;
    border: solid black 1px;
}

#rem{
    background-color: red;
}

#add{
    background-color: green;
}

#sub{
    width: 100%;
    background-color: orange;
}

#change{
    background-color: blueviolet;
}

#ageInp{
    width: 50px;
}